<%- include('header') %>

    <form method="get" action="/cotacao">
        <div class=" justify-content-md-center">
            <div class="">
                <label for="dolar" class="titulo">Cotação do Dolar</label> <br>
                <input type="number" class="dolar" id="cotacao" name="cotacao" value="<%- dolar %>" step="0.01" required placeholder="Valor da Cotação">
            </div>
            <br>
            <div class="">
                <label for="inputPassword4" class="titulo">Quantidade de Dolares</label> <br>
                <input type="number" step="0.01" class="dolar" id="quantidade" name="quantidade" placeholder="Quantidade de Dolares" required>
            </div>
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Converter</button>

    </form>

    <%- include('footer') %>